.ads {
  position: absolute;
  display: flex;
  width: calc(100% - 15px);
  z-index: -1;
}
.ads > :nth-child(2) {
  position: absolute;
  right: 0;
} 

.main {
  margin-left: 160px;
  width:  calc(100% - 160px - 128px - 60px); /*I know i should be using a table layout*/ 
}

table {
  min-width: 400px;
}

td, th {
  text-align: left;
}

hr {
  margin-top: 20px;
}
